services:
  app:
    build: .
    image: otel-go-webapp:latest
    environment:
      - ENV=dev
    ports:
      - "8080:8080"
    depends_on:
      - otel-collector
    network_mode: "host"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml:ro
    ports:
      - "4317:4317"   # OTLP gRPC
      - "4318:4318"   # OTLP gRPC
    network_mode: "host"

  # jaeger:
  #   image: jaegertracing/all-in-one:latest
  #   ports:
  #     - "16686:16686"  # Jaeger UI
  #     - "4317:4317"
  #     - "4318:4318"
  #     - "5778:5778"
  #     - "9411:9411"
  #   network_mode: "host"